body {
 margin: 0;
 padding: 0;
 height: 100vh;
 overflow: hidden;
 overflow-x: hidden;
 background-color: #121212;
}

span {
 background-image: url("./assets/logo.png");
 width: 100px;
 height: 100px;
 position: absolute;
 background-size: cover;
 transform: translate(-50%, -50%);
 animation: animate 10s infinite;
 pointer-events: none;
}

@keyframes animate {
 100% {
  transform: translate(-0%, -4500%);
  /* transform: ; */
  opacity: 1;
  filter: hue-rotate(600deg);
 }
}

.party {
 display: flex;
 align-items: flex-end;
 margin-bottom: 10rem;
 height: 100vh;
 overflow: hidden;
}

audio {
}

/* .doge {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: -1;
}

.doge img {
  height: 100px;
} */
