body {
 margin: 0;
 padding: 0;
 height: 100vh;
 overflow: hidden;
 overflow-x: hidden;
 background-color: #121212;
}

span {
 background-image: url("./assets/logo.png");
 width: 100px;
 height: 100px;
 position: absolute;
 background-size: cover;
 transform: translate(-50%, -50%);
 animation: animate 10s infinite;
 pointer-events: none;
}

@keyframes animate {
 0% {
  transform: translate(-0%, -50%);
  /* opacity: 1; */
  filter: hue-rotate(0);
 }
 100% {
  transform: translate(-0%, -4500%);
  /* opacity: 1; */
  filter: hue-rotate(600deg);
 }
}

.party {
 display: flex;
 align-items: flex-end;
 justify-content: center;
 height: 100vh;
 overflow: hidden;
}

audio::-webkit-media-controls-panel {
  background: linear-gradient(90deg, #d616a6 0%,  #20bbc0 100%);
}
